@model IEnumerable<sosproject.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/back_end_template.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.categoryid }) |
            @Html.ActionLink("Details", "Details", new { id=item.categoryid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.categoryid })
        </td>
    </tr>
}

</table>
